.trains-main {
    display: flex;
    padding: 0 258px;
    gap: 86px;
    background-color: #F7F5F9;
    padding-top: 95px;
    padding-bottom: 100px;
}

.trains-sidebar {
    display: flex;
    flex-direction: column;
    gap: 94px;
}

.trains {
    position: relative;
}